.navbar-brand{
    display: block !important;
    font-size: 30px !important;
    /*padding-right: 10% !important;*/
    color:whitesmoke !important;
}


.navbar-toggler{
    text-align: center !important;
}



.nav-link{
    color:whitesmoke !important;
}



.navbar{
    padding-left: 0% !important;
}

/*
#footer{
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 60px !important;
    display: block !important;
}*/

.bi bi-person{
    color: white !important;
}
